#header {
  font-size: 26px;

  width: 98%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header h1:hover {
  cursor: pointer;

}

.header-icon {
  color: rgb(221, 0, 0);
}

.header-icon:hover {
  cursor: pointer;
}

