#search-container {
  width: 600px;
  margin-bottom: 20px;
}

#search-container input {
  border: none;
  border-radius: 5px;
  color: rgb(39, 39, 39);
  font-family: "Reddit Mono";
  font-weight: 700;
  height: 30px;
  margin-right: 2px;
  padding-left: 14px;
  width: 500px;
}

#search-container button {
  border: 1px solid rgb(58, 58, 58);
  border-radius: 5px;
  color: white;
  width: 80px;
  height: 32px;
  background-color: rgb(221, 0, 0);
}

#search-container button:hover {
  cursor: pointer;
}

#search-container button:active {
  scale: 0.9;
}